@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@using MvcWeb.SchoolModels.SchoolViewModels
@using MvcWeb.Models

@model MultiList

<h1>gen users</h1>

<h1>Mongo</h1>

@*{
    var tr = @ViewData["travelers"];
    var pp = @ViewData["persons"];
}*@
 
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Enrollment Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MvcWeb.Models.Traveler item in Model.travelers)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Activities.FirstOrDefault()</td>
                    <td>@item.VisitedCountries.FirstOrDefault().TimesVisited</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>